@import "../../scss/ui.scss";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-purple;
  padding: 0.8rem 0.7rem 0.8rem 1.8rem;
}
.header__title {
  @include title;
}
.header__calendar-icon {
  max-width: 6rem;
  height: 6rem;
  img {
    display: block;
    max-width: 100%;
  }
}
