@import "../../scss/ui.scss";
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 5.4rem;
  padding: 0 2.9rem;
  .form-input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #8b8787;
    color: #000;
    @include text;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none;
  }

  .form-input::placeholder {
    color: #8b8787;
    @include text;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .error {
    border-bottom: 1px solid #fa0000;
    &::placeholder {
      color: #f50e0e;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
  }
}
