@import "../../scss/ui.scss";

.todo-main {
  height: calc(100% - 10rem);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.2rem 0.7rem;

  .todo-list {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }
  &__new-task {
    @include title;
    text-align: center;
  }
  .todo-main__add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    color: white;
    font-family: $font1;
    font-size: 2.2rem;
    font-weight: 600;
    border-radius: 50%;
    background-color: #9395d3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: flex-end;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      background-color: #7578d1;
    }
  }
  .new-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
